{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block title %}BaseTitle{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'smtc/css/base.css' %}">

    {% block link %}
    {% endblock %}
  </head>

  <body>
    <ul class="navbar">
      {# <li><a href="{% url 'index-index' %}">/Index</a></li> #}
      {# <li><a href="{% url 'project-index' %}">/Project</a></li> #}
      {# <li><a href="{% url 'issue-index' %}">/Issue</a></li> #}
      {% if not request.user.is_authenticated %}
        <li class="navbar-item-left">
          <a class="{% if al_login %}active{% endif %}" href="{% url 'account-login' %}">/LogIn</a>
        </li>
        <li class="navbar-item-left">
          <a class="{% if al_register %}active{% endif %}" href="{% url 'account-register' %}">/Register</a>
        </li>
      {% else %}
        <li class="navbar-item-left">
          <a class="{% if al_register %}active{% endif %}" href="{% url 'account-logout' %}">/LogOut</a>
        </li>
      {% endif %}
    </ul>
    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'smtc/js/base.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>

</html>
